

/* Generic styles used throughout display pages. */
#scrn-read {
	display:none;
}

body,html {
	min-width: 770px;
	padding:0;
	margin:0;
}

td,div,body {
	font-family:Verdana,Arial,Helvetica,sans-serif
}

th, td {
    vertical-align: top;
}

.fieldFootnote {    /* is this used? */
        font-size:      x-small;
        font-weight:    normal;
        font-style:     italic;
}

button, input.button, input.submit {        /* Not working! */
        font-size:  80%;
}

.hidden {
    display:    none;
}



/* Styles used in header (banner area with application name) and footer. */
div#header {
        height: 45px;
	padding: 0;
	margin-left: 1em;
        text-align: left;
}

div#header .appName {
	font-size: 35px;
	font-family: /* Georgia, */ "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: oblique;
}

div#header .appDesc {
	font-family: /* Georgia, */ "Times New Roman", Times, serif;
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
}

#footer {
	clear: both;
	padding: 0.3em ;
	margin-top: 2em;
        margin-left: 1em;
	font-size: 0.8em;
}



/* Styles used to create columns */
.sidebar {                      /* sets attributes common to all sidebars */
        /* min-width: 130px; */
	padding: 0 0;
        float: right;
	margin-right: 50px;
        font-size:      80%;
        vertical-align: top;
}

div#left-column .column {   /* used to put any other div in a left column */
	min-width: 620px;
	position: relative;
        width: 80%;
	float: left;
}




/* Styles used by page content below menu bar.  (Some not used.) */
div#content {
	margin-top: 2em;
	margin-left: 1em;
	width: 100%;
}

div#content h1 {
        text-align: center;
}

div#content h2, div#content h3, div#content h4, div#content h5 {
        padding-top: 15px;
	font-weight: normal;
}

div#content h1, div#content h2, div#content h3 {
        font-weight: bold;
}

div#content p {
	font-size: 1em;
}

div#content a,  div#content a:visited,  div#content a:active {
	text-decoration: underline;
}

div#content a:hover {
	text-decoration: underline;
}



/* Styles used by activity list pages */
div#activityPage {
        font-size: medium;
}

div#activityPage h1 {
    padding-top: 15px;
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:   18px;
    font-weight: bold;
}

div#activityPage dl {
    width:      100%;
    overflow:   hidden;
}

div#activityPage dt, div#activityPage dd {
    display:    block;
    float:      left;
    margin-top: 10px;
}

div#activityPage dt {
    margin-left:     10px;
    width:      20%;
    text-align: right;
    clear:      both;
}

div#activityPage dd {
    width:      60%;
}

div#activityPage dt.comment {
    margin-top: 0;
    width:      50%;
    margin-left:     0;
    text-align: left;
    font-style: oblique;
}

div#activityPage dt.wide {
    margin-top, margin-bottom: 20px;
    width:      30%;
    margin-left:     0;
}



/* Styles used by title bars on most table-viewing/modifying pages */
div#titlebar-area {
        margin: 0 auto;
        width:  100%;
}

div#titlebar-area .sidebar {
        min-width: 130px;
}

div#table-notes p {
        font-size:      75%;
        font-style:     italic;
        text-align:     center;
}

div#info-messages ul, div#error-messages ul {
        padding:    0;
        list-style:     none;
}

div#info-messages li, div#error-messages li {
        margin:     0;
        padding:    0;
        font-size:      90%;
        font-style:     italic;
}



/* Styles used by action button lists */
#title-sidebar ul {
        padding:    0;
        list-style:     none;
}

fieldset#button-list li {
        margin:     0;
        padding:    5px;
}



/* Styles used by record display/modify pages */
div#record-block dl {
    width:      100%;
    overflow:   hidden;
}

div#record-block.view dl {
    padding: 5px;
}

div#record-block dt, div#record-block dd {
    display:    block;
    float:      left;
    margin-top: 10px;
}

div#record-block dt {
    width:      15%;
    text-align: right;
    clear:      both;
}

div#record-block dd {
    width:      80%;
}

input.statusCode {
        padding: 1px;
        width:  10px;
}

#external-refs li {
        margin-left: 20px;
        float:left;
        list-style:none;
}



/* Styles used by pages that display data in list or table format. */
div#record-list table, div#record-table table {
        clear: both;
}

div#record-list td, div#record-list th {
    padding:    2px;
}

div#record-table td, div#record-table th {
    padding:    3px;
}

div#record-table td.highlighted, div#record-table th.highlighted {
}

div#record-table th {
    border-bottom: 1px solid;
}



/* Styles used when printing, especially the table display format. */
@media print {

    body, p, th, td, select, th input.button, button, .textfield {
        font-size:  x-small;
    }

    .appName {
        font-size: large;
    }

    .appDesc {
        font-size: 9px;
    }

    h1 {
        font-family: "Century Schoolbook", Times, serif;
        font-size: medium;
    }

    h2 {
        font-size: medium;
    }

    h3, h4, h5 {
        font-size: small;
    }

    th, td {
        vertical-align: top;
    }

    div#menu-bar, div#title-sidebar, div#body-sidebar,
    blockquote.menu, .noprint {
        display: none;
    }

}
