
/* Styles used by menu bar. */

#menu-bar {
    padding:0;
    margin:0;
    width: 100%;
    height: 18px;
    font-size: 10px;    /* or 11px? */
    font-family:Verdana,Arial,Helvetica,sans-serif;
    float: left;
}

#menu-login, #main-menu {
    padding:0;
    margin:0;
}

#menu-login {
    white-space: nowrap;
}

#main-menu {
    float:left;
    width: 70%;
    position: relative;
}

#menu-login {
    float:right;
    text-align: right;
}

#menu-bar li {
    float:left;
    list-style:none;
}

#menu-login, #menu-login a, #main-menu a {
    text-decoration:none;
    padding:0.2em 1em 0.2em 1em;
}

#menu-login a, #main-menu a {
    font-weight:bold;
}

#main-menu li {
    padding-top: 3px;               /* somehow extends vertical line lower */
    padding-bottom: 1px;            /* somehow extends vertical line lower */
}

#menu-login a:hover, #main-menu a:hover, #main-menu a:focus {
    text-decoration:underline;
    font-weight:bold;
}

@media print {
    #menu-bar {
        display:none;
    }
}
