/* COLOR SCHEME used by RAMP Demo */


/* Styles used in header (banner area with application name) and footer. */

h1, h1 small, .appName {
	color:	#FF0080;       /* #ED1C24?, FBA0E3? */     /* Amethyst = 96c */
            /* DF73FF = Heliotrope */
}

h1.loggedInAs small {
	color:	#00C;
}

#footer {
	color: #888;
}

/* Styles used in menu bar. */

.navbar {
    background-color: #00C;     /* Use in combination with next stanza. */
}

.navbar-inner {
    min-height: 0px;
    height: 0px;
    border: 1px solid #00C;
        /* No idea why this combination works to set background of
         * entire menu (not just bg of menu items) to the right color,
         * but it does!
        */
}

.navbar .nav > li > a           /* Menu items */
{
    color: #fff;
    background-color: #00C;
    text-shadow: none;
}

/* Menu items during focus, hover, or when dropdown is showing */
.navbar .nav > li > a:focus
, .navbar .nav > li > a:hover
, .navbar .nav li.dropdown.open > .dropdown-toggle
, .navbar .nav li.dropdown.active > .dropdown-toggle
, .navbar .nav li.dropdown.open.active > .dropdown-toggle
{
    color: #00C;
    background-color: Lavender;  /* (i.e., #E6E6FA; an alt is #66f) */
}

/* Dropdown background */
.navbar .nav > li > .dropdown-menu              /* Gets edges */
, .navbar .nav > li > .dropdown-menu > li       /* Get li bg but not edges */
, .navbar .nav > li > .dropdown-menu .caret     /* Doesn't work */
{
    background-color: #EFEFFA;
}

/* Dropdown background when item is selected */
.navbar .nav > li > .dropdown-menu > li > a:focus  /* Doesn't work */
, .navbar .nav > li > .dropdown-menu > li > a:hover  /* Doesn't work */
/*, .navbar .nav > li > .dropdown-menu > li.active /* Doesn't work */
{
    background-color: #B57EDC;          /* Floral lavender; alt: #00C */
}

/* Dropdown text color (not hovering) */
.navbar .nav > li > .dropdown-menu > li > a
{
    color: #00C;
}

/* Dropdown text color (hovering) */
.navbar .nav > li > .dropdown-menu > li > a:focus
, .navbar .nav > li > .dropdown-menu > li > a:hover
{
    color: #fff;
}


/* Generic styles used throughout display pages. */

div#content h2 {
    color:  #00C;       /* or FBA0E3 */
}

div#content h3, div#content h4, div#content h5 {
    color: #039;
}

div#content a,  div#content a:active {
    color: #00C;
}

div#content a:visited,  div#content a:hover {
    color: #009;
}

input.btn {
    color: #00C;               /* Works */
    background-color: Lavender;   /* Doesn't work */
}

input.btn:hover,
input.btn:active,
input.btn.active {
    color: #00C;
    background-color: Lavender;  /* Doesn't completely fill?  Ridiculous. */
    /* background-color: #B57EDC; */
}

input.btn-primary {
    color: white;
}

input.btn-primary:hover,
input.btn-primary:active,
input.btn-primary.active {
    color: #eeeeee;
}

input.btn.disabled,
input.btn[disabled] {
    color: Grey;
    background-color: #dddddd;
}

code, pre {
    color: #009;
    background-color: inherit;
    border: inherit;
}


/* Styles for informational & error messages on many pages. */

/* This style should not be necessary with Bootstrap 3.0! */
.text-danger {
    color: Red;
}


/* Styles used by activity list pages */

div#activityPage h2 {
    color: #00C;    /* alt: #FBA0E3 */
}

div#activityPage hr {
    color: #00C;        /* Doesn't work. hr is very light. */
}

div#activityPage .disabled, div#activityPage .disabledComment {
    color:            Grey;
}


/* Styles used by list and table views */

.table-hover tbody tr:hover, .table-hover tbody tr:hover td
{
    background-color: #FFF0F5;   /* #FFF0F5 is a very faint pink */
        /* F6FFF6 is a very faint green */
}

#record-list td.select, #record-table td.select, #record-split-table td.select
{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #99EC99;
  *background-color: #90D890;
  background-image: -moz-linear-gradient(top, #A1F9A1, #90D890);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1F9A1), to(#90D890));
  background-image: -webkit-linear-gradient(top, #A1F9A1, #90D890);
  background-image: -o-linear-gradient(top, #A1F9A1, #90D890);
  background-image: linear-gradient(to bottom, #A1F9A1, #90D890);
  background-repeat: repeat-x;
  border-color: #90D890 #90D890 #77A577;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffA1F9A1', endColorstr='#ff90D890', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#record-list td.select:hover,
#record-table td.select:hover,
#record-split-table td.select:hover
{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#record-list td.delete:hover,
#record-table td.delete:hover,
#record-split-table td.delete:hover
{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #dd6632;
  *background-color: #dc3406;
  background-image: -moz-linear-gradient(top, #dec170, #dc3406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dec170), to(#dc3406));
  background-image: -webkit-linear-gradient(top, #dec170, #dc3406);
  background-image: -o-linear-gradient(top, #dec170, #dc3406);
  background-image: linear-gradient(to bottom, #dec170, #dc3406);
  background-repeat: repeat-x;
  border-color: #dc3406 #dc3406 #A02200;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdec170', endColorstr='#ffdc3406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


/* Styles used by record display/modify pages */

#record-block.edit input.discouraged, #record-block.add input.discouraged,
#record-block.edit select.discouraged, #record-block.add select.discouraged,
#block-edit.row input.discouraged,
#block-edit.row select.discouraged,
#block-edit.row textarea.discouraged
{
        background-color:   #DDDDDD;
}

#record-block.edit input.required, #record-block.add input.required,
#record-block.edit select.required, #record-block.add select.required,
#block-edit.row input.required,
#block-edit.row select.required,
#block-edit.row textarea.required
{
        background-color:   #FF6;
}

#record-block.edit input.recommended, #record-block.add input.recommended,
#record-block.edit select.recommended, #record-block.add select.recommended,
#record-block.edit textarea.recommended, #record-block.add textarea.recommended,
#block-edit.row input.recommended,
#block-edit.row select.recommended,
#block-edit.row textarea.recommended
{
        background-color:   #FFC;
}

div#record-block select.comparator
{
        background-color:   #F6FFF6;
}

input.readonly, select.readOnly,
input.statusCode {
        background-color: #FAFFFA;  /* was #efe; Could be F6FFF6 */
}

#record-block.edit input.readonly,
#record-block.add input.readonly
{
        background-color: #FAFFFA;  /* was #efe; Could be #F6FFF6 */
        color: #aaa;
}


/* Styles used by documents */

#content h1, #content h1 small {
	color:	#00C;       /* Amethyst = 96c */
}

div#content a,  div#content a:active {
    color: #0C0;
}

div#content a:visited,  div#content a:hover {
    color: #009E60;
}

div#documentPage pre code {
    font-size: medium;
    color: #009;
    background-color: transparent;
}



